# -----------------------------
# Sequencing data 
# -----------------------------
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# -----------------------------
# folders
# -----------------------------
data/
results/
sample_data/
sample_results/
databases/
metadata/
logs/

# -----------------------------
# Conda / Python junk
# -----------------------------
__pycache__/
.env/
.venv/
*.pyc

# -----------------------------
# OS / editor files
# -----------------------------
.DS_Store
*.swp
